USE [master]
GO
/****** Object:  Database [ElectronicStore]    Script Date: 10/19/2019 8:50:00 PM ******/
CREATE DATABASE [ElectronicStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElectronicStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ElectronicStore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElectronicStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ElectronicStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElectronicStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElectronicStore]
GO
/****** Object:  Table [dbo].[AccountLoginProvider]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountLoginProvider](
	[ProviderID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Provider] [nvarchar](50) NOT NULL,
	[ProviderKey] [nvarchar](200) NOT NULL,
	[ProviderEmail] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[LoginType] [nvarchar](20) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Avatar] [nvarchar](256) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Accounts__349DA5862E333233] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountTokens]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTokens](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[RefreshToken] [nvarchar](500) NOT NULL,
	[DeviceInfo] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[BannerID] [int] IDENTITY(1,1) NOT NULL,
	[BannerName] [nvarchar](200) NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](200) NOT NULL,
	[BrandImage] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Brands__DAD4F3BEEDB61A64] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[CategoryImage] [nvarchar](1000) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Categori__19093A2B985BFBA0] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [varchar](50) NOT NULL,
	[point] [int] NOT NULL,
	[Address] [nvarchar](500) NULL,
	[BirthDate] [date] NULL,
	[Gender] [tinyint] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__Customer__A4AE64B89A4A7A3D] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Phone] [varchar](10) NULL,
	[FullName] [nvarchar](200) NULL,
	[BirthDate] [date] NULL,
	[Address] [nvarchar](500) NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[HireDate] [date] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__Employee__7AD04FF1738EDD12] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteProducts]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteProducts](
	[FavoriteID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportDetails]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportDetails](
	[ImportDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ImportID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[CostPrice]) PERSISTED,
 CONSTRAINT [PK__ImportDe__CDFBBA515B884B36] PRIMARY KEY CLUSTERED 
(
	[ImportDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imports]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imports](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[ImportCode] [nvarchar](50) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ImportDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](1000) NULL,
 CONSTRAINT [PK__Imports__8697678A003ABEFC] PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]) PERSISTED,
 CONSTRAINT [PK__OrderDet__D3B9D30CEC1AE971] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](50) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[DiscountPoint] [decimal](18, 2) NULL,
	[usePoint] [bit] NULL,
	[Note] [nvarchar](1000) NULL,
	[DiscountVoucher] [decimal](18, 2) NULL,
	[VoucherCode] [char](10) NULL,
 CONSTRAINT [PK__Orders__C3905BAF199D1041] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Method] [nvarchar](100) NOT NULL,
	[TransactionCode] [nvarchar](200) NULL,
	[PaymentDate] [datetime2](7) NULL,
 CONSTRAINT [PK__Payments__9B556A58C70E37DE] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UrlProductImage] [nvarchar](500) NOT NULL,
	[ImageMain] [bit] NOT NULL,
 CONSTRAINT [PK__ProductI__7516F4EC80AEB1BD] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[ParentID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__ProductR__74BC79AE15776CF2] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ConsumptionCapacity] [int] NOT NULL,
	[Maintenance] [int] NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[OriginalPrice] [decimal](18, 2) NOT NULL,
	[SellPrice] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ManufactureYear] [int] NOT NULL,
	[SupplierID] [int] NULL,
	[BrandID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Products__B40CC6ED3D569FC7] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[SupplierPhone] [nvarchar](10) NULL,
	[SupplierAddress] [nvarchar](100) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 10/19/2019 8:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherCode] [nvarchar](50) NOT NULL,
	[VoucherName] [nvarchar](200) NULL,
	[DiscountType] [nvarchar](50) NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Voucher__3AEE79C1352A66CA] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Username], [Email], [PasswordHash], [LoginType], [RoleID], [Avatar], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin', N'admin@gmail.com', N'$2a$11$jQJFCqRJAzCio4njr2fwg.hdqhvHioo2JdmZ1iMJYaB4QA7hUsNRi', N'Local', 1, N'8625bc7f-3eaf-4383-90ee-aa806aca6693.jpg', 1, CAST(N'2025-09-17T21:38:02.1262592' AS DateTime2), CAST(N'2025-09-18T01:46:51.9916910' AS DateTime2))
INSERT [dbo].[Accounts] ([AccountID], [Username], [Email], [PasswordHash], [LoginType], [RoleID], [Avatar], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'tanduy123', N'duynguyen1918@gmail.com', N'$2a$11$zLLR106Oxu1RcxDoK.D59eo/T9JcJxDI5cfIDPx/4kOPpxpX0Foqm', N'Local', 3, N'default-avatar.jpg', 1, CAST(N'2025-09-17T17:13:03.1615629' AS DateTime2), NULL)
INSERT [dbo].[Accounts] ([AccountID], [Username], [Email], [PasswordHash], [LoginType], [RoleID], [Avatar], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (5, N'tanduy1918', N'tanduy1918@example.com', N'$2a$11$3u54Rw6gcHj9KDo/gmDXLOZnUl2.B8i0VIlZ1h3VhSi1XetWoakLa', N'Local', 3, N'default-avatar.jpg', 1, CAST(N'2025-10-12T15:50:04.0464569' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountTokens] ON 

INSERT [dbo].[AccountTokens] ([TokenID], [AccountID], [RefreshToken], [DeviceInfo], [CreatedAt], [ExpiryDate]) VALUES (1, 1, N'I2td8RzetQPMHGJX5SDpn1y2UUkxEjWEg+KUEcnGjR7dJkNLCZX1jtxmiC4VhDeCJwSGHzeEzDU4YGpT2VJeeA==', NULL, CAST(N'2025-09-17T14:38:41.5652615' AS DateTime2), CAST(N'2025-09-24T14:38:41.5322428' AS DateTime2))
INSERT [dbo].[AccountTokens] ([TokenID], [AccountID], [RefreshToken], [DeviceInfo], [CreatedAt], [ExpiryDate]) VALUES (2, 1, N'SX+r9F/Db93yp5XQ+gyM5KQnKuSo2pa5aZuK49wXjs2sGmKLhzO/SFfZqya1YCOMtKZ7NcfOrWgVXsln2kTVrA==', NULL, CAST(N'2025-09-17T14:48:36.7116514' AS DateTime2), CAST(N'2025-09-24T14:48:36.5282998' AS DateTime2))
INSERT [dbo].[AccountTokens] ([TokenID], [AccountID], [RefreshToken], [DeviceInfo], [CreatedAt], [ExpiryDate]) VALUES (3, 1, N'02uuTZNw2Bfbx8JGAaBK/dqt8eiyYgT4a9xIVl/kPRTRjSy4uhvIOkWA7APzbY7BEkIZ93+hr9wIFtI9ePR/xw==', NULL, CAST(N'2025-09-17T15:10:59.5060835' AS DateTime2), CAST(N'2025-09-24T15:10:59.2998647' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[AccountTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([BannerID], [BannerName], [ImageUrl]) VALUES (1, N'Banner máy giặt', N'may_giat.png')
INSERT [dbo].[Banners] ([BannerID], [BannerName], [ImageUrl]) VALUES (2, N'Banner điều hòa', N'dieu_hoa.png')
INSERT [dbo].[Banners] ([BannerID], [BannerName], [ImageUrl]) VALUES (3, N'Banner máy lọc nước', N'may_loc_nuoc.png')
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandID], [BrandName], [BrandImage], [IsActive]) VALUES (1, N'Samsung', N'samsung.png', 1)
INSERT [dbo].[Brands] ([BrandID], [BrandName], [BrandImage], [IsActive]) VALUES (2, N'Panasonic', N'panasonic.png', 1)
INSERT [dbo].[Brands] ([BrandID], [BrandName], [BrandImage], [IsActive]) VALUES (3, N'Toshiba', N'toshiba.png', 1)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryImage], [IsActive]) VALUES (1, N'Máy lạnh', N'may_lanh.jpg', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryImage], [IsActive]) VALUES (2, N'Máy giặt', N'may_giat.jpg', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryImage], [IsActive]) VALUES (3, N'Máy lọc nước', N'may_loc_nuoc.jpg', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [AccountID], [FullName], [Phone], [point], [Address], [BirthDate], [Gender], [CreatedAt]) VALUES (1, 2, N'Nguyễn Tấn Duy', N'0398926997', 20, NULL, NULL, NULL, CAST(N'2025-09-17T17:13:03.4643267' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerID], [AccountID], [FullName], [Phone], [point], [Address], [BirthDate], [Gender], [CreatedAt]) VALUES (4, 5, N'Tén Duy', N'0039895393', 0, NULL, NULL, NULL, CAST(N'2025-10-12T15:50:04.7149317' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [AccountID], [Phone], [FullName], [BirthDate], [Address], [Position], [Salary], [HireDate], [CreatedAt]) VALUES (1, 1, N'0909090909', N'QTV', CAST(N'2025-09-17' AS Date), N'TPHCM', N'Admin', CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-09-17' AS Date), CAST(N'2025-09-17T21:38:04.1045818' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportDetails] ON 

INSERT [dbo].[ImportDetails] ([ImportDetailID], [ImportID], [ProductID], [Quantity], [CostPrice]) VALUES (1, 1, 3, 4, CAST(13000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ImportDetails] ([ImportDetailID], [ImportID], [ProductID], [Quantity], [CostPrice]) VALUES (2, 1, 2, 3, CAST(16000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ImportDetails] ([ImportDetailID], [ImportID], [ProductID], [Quantity], [CostPrice]) VALUES (3, 4, 1, 10, CAST(11000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ImportDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Imports] ON 

INSERT [dbo].[Imports] ([ImportID], [ImportCode], [SupplierID], [EmployeeID], [ImportDate], [Status], [TotalAmount], [Note]) VALUES (1, N'071020251001', 1, 1, CAST(N'2025-10-07T15:30:46.8561208' AS DateTime2), N'Cancelled', CAST(100000000.00 AS Decimal(18, 2)), N'string')
INSERT [dbo].[Imports] ([ImportID], [ImportCode], [SupplierID], [EmployeeID], [ImportDate], [Status], [TotalAmount], [Note]) VALUES (4, N'071020251002', 1, 1, CAST(N'2025-10-07T15:38:00.6510140' AS DateTime2), N'Delivered', CAST(110000000.00 AS Decimal(18, 2)), N'string')
SET IDENTITY_INSERT [dbo].[Imports] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (38, 25, 1, 1, CAST(12490000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (39, 25, 3, 2, CAST(15090000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (40, 26, 1, 1, CAST(12490000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderCode], [CustomerID], [EmployeeID], [FullName], [PhoneNumber], [OrderDate], [TotalAmount], [Status], [PaymentMethod], [ShippingAddress], [DiscountPoint], [usePoint], [Note], [DiscountVoucher], [VoucherCode]) VALUES (25, N'240920251001', 1, NULL, N'string', N'0665246379', CAST(N'2025-09-24T23:16:22.9289323' AS DateTime2), CAST(42670000.00 AS Decimal(18, 2)), N'Pending', N'VNPay', N'string', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([OrderID], [OrderCode], [CustomerID], [EmployeeID], [FullName], [PhoneNumber], [OrderDate], [TotalAmount], [Status], [PaymentMethod], [ShippingAddress], [DiscountPoint], [usePoint], [Note], [DiscountVoucher], [VoucherCode]) VALUES (26, N'240920251002', 1, NULL, N'string', N'0599160011', CAST(N'2025-09-24T23:24:01.0138176' AS DateTime2), CAST(42670000.00 AS Decimal(18, 2)), N'Pending', N'COD', N'string', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([OrderID], [OrderCode], [CustomerID], [EmployeeID], [FullName], [PhoneNumber], [OrderDate], [TotalAmount], [Status], [PaymentMethod], [ShippingAddress], [DiscountPoint], [usePoint], [Note], [DiscountVoucher], [VoucherCode]) VALUES (27, N'240920251003', 1, NULL, N'string', N'0484637622', CAST(N'2025-09-24T23:25:26.2797966' AS DateTime2), CAST(53970000.00 AS Decimal(18, 2)), N'Pending', N'VNPay', N'string', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [OrderID], [CustomerID], [Amount], [Status], [Method], [TransactionCode], [PaymentDate]) VALUES (11, 26, 1, CAST(0.00 AS Decimal(18, 2)), N'UnPaid                        UnPaid              ', N'COD', NULL, NULL)
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [CustomerID], [Amount], [Status], [Method], [TransactionCode], [PaymentDate]) VALUES (12, 29, 1, CAST(0.00 AS Decimal(18, 2)), N'UnPaid', N'COD', NULL, NULL)
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [CustomerID], [Amount], [Status], [Method], [TransactionCode], [PaymentDate]) VALUES (13, 30, 1, CAST(60960000.00 AS Decimal(18, 2)), N'Paid                        Paid                  ', N'VNPay', N'15180254', CAST(N'2025-09-24T23:44:22.7957927' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [UrlProductImage], [ImageMain]) VALUES (1, 1, N'may_lanh_panasonic_inverter_1_hp_cu_cs-pu9akh-8_1_main.jpg', 1)
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [UrlProductImage], [ImageMain]) VALUES (2, 1, N'may_lanh_panasonic_inverter_1_hp_cu_cs-pu9akh-8_1_sub1.jpg', 0)
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [UrlProductImage], [ImageMain]) VALUES (3, 1, N'may_lanh_panasonic_inverter_1_hp_cu_cs-pu9akh-8_1_sub2.jpg', 0)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductReviews] ON 

INSERT [dbo].[ProductReviews] ([ReviewID], [ProductID], [AccountID], [Rating], [ParentID], [Content], [CreatedAt], [IsActive]) VALUES (1, 1, 2, 3, NULL, N'Quá đẹp', CAST(N'2025-10-07T03:26:46.1472217' AS DateTime2), 1)
INSERT [dbo].[ProductReviews] ([ReviewID], [ProductID], [AccountID], [Rating], [ParentID], [Content], [CreatedAt], [IsActive]) VALUES (2, 2, 2, 4, NULL, N'Quá xuất sắc', CAST(N'2025-10-07T03:28:34.6499402' AS DateTime2), 1)
INSERT [dbo].[ProductReviews] ([ReviewID], [ProductID], [AccountID], [Rating], [ParentID], [Content], [CreatedAt], [IsActive]) VALUES (3, 1, 1, 3, 1, N'cảm ơn quý khách đã ủng hộ', CAST(N'2025-10-07T03:45:43.2640034' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[ProductReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [ConsumptionCapacity], [Maintenance], [CostPrice], [OriginalPrice], [SellPrice], [StockQuantity], [CategoryID], [ManufactureYear], [SupplierID], [BrandID], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Máy lạnh Panasonic Inverter 1 HP CU/CS-PU9AKH-8', N'Máy lạnh siêu tiết kiệm điện, giải tỏa cơn nóng tức thì', 1000, 12, CAST(11000000.00 AS Decimal(18, 2)), CAST(12490000.00 AS Decimal(18, 2)), CAST(11490000.00 AS Decimal(18, 2)), 11, 1, 2025, 1, 2, 1, CAST(N'2025-09-17T15:19:12.6282322' AS DateTime2), NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [ConsumptionCapacity], [Maintenance], [CostPrice], [OriginalPrice], [SellPrice], [StockQuantity], [CategoryID], [ManufactureYear], [SupplierID], [BrandID], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Máy lạnh Panasonic Inverter 1.5 HP CU/CS-U12BKH-8', N'Máy lạnh siêu tiết kiệm điện, giải tỏa cơn nóng tức thì', 1000, 12, CAST(16000000.00 AS Decimal(18, 2)), CAST(17990000.00 AS Decimal(18, 2)), CAST(16990000.00 AS Decimal(18, 2)), 18, 1, 2025, 1, 2, 1, CAST(N'2025-09-17T15:20:42.2152961' AS DateTime2), NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [ConsumptionCapacity], [Maintenance], [CostPrice], [OriginalPrice], [SellPrice], [StockQuantity], [CategoryID], [ManufactureYear], [SupplierID], [BrandID], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Máy lạnh Panasonic Inverter 1.5 HP CU/CS-PU12AKH-8', N'Máy lạnh siêu tiết kiệm điện, giải tỏa cơn nóng tức thì', 1000, 12, CAST(13000000.00 AS Decimal(18, 2)), CAST(15090000.00 AS Decimal(18, 2)), CAST(14090000.00 AS Decimal(18, 2)), 16, 1, 2025, 1, 2, 1, CAST(N'2025-09-17T15:21:39.6646267' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản lý')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Employee', N'Nhân viên')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Customer', N'Khách hàng')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [SupplierPhone], [SupplierAddress]) VALUES (1, N'Panasonic Vietnam', NULL, NULL)
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [SupplierPhone], [SupplierAddress]) VALUES (2, N'SamSung Vietnam', NULL, NULL)
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [SupplierPhone], [SupplierAddress]) VALUES (3, N'Aqua Vietnam', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([VoucherID], [VoucherCode], [VoucherName], [DiscountType], [DiscountValue], [Quantity], [StartDate], [EndDate], [IsActive]) VALUES (1, N'HAHAHAHA', N'NGAY VUI THANG 9', N'amount', CAST(100000.00 AS Decimal(18, 2)), 100, CAST(N'2025-09-23T00:00:00.000' AS DateTime), CAST(N'2025-10-28T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Provider_Account]    Script Date: 10/19/2019 8:50:00 PM ******/
ALTER TABLE [dbo].[AccountLoginProvider] ADD  CONSTRAINT [UQ_Provider_Account] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC,
	[Provider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Provider_Key]    Script Date: 10/19/2019 8:50:00 PM ******/
ALTER TABLE [dbo].[AccountLoginProvider] ADD  CONSTRAINT [UQ_Provider_Key] UNIQUE NONCLUSTERED 
(
	[Provider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Accounts_Email]    Script Date: 10/19/2019 8:50:00 PM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_Accounts_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Accounts_Username]    Script Date: 10/19/2019 8:50:00 PM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_Accounts_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Accounts_Email]    Script Date: 10/19/2019 8:50:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_Email] ON [dbo].[Accounts]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Token_RefreshToken]    Script Date: 10/19/2019 8:50:00 PM ******/
ALTER TABLE [dbo].[AccountTokens] ADD  CONSTRAINT [UQ_Token_RefreshToken] UNIQUE NONCLUSTERED 
(
	[RefreshToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Employee__349DA587AC78E745]    Script Date: 10/19/2019 8:50:00 PM ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [UQ__Employee__349DA587AC78E745] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Favorite_Account_Product]    Script Date: 10/19/2019 8:50:00 PM ******/
ALTER TABLE [dbo].[FavoriteProducts] ADD  CONSTRAINT [UQ_Favorite_Account_Product] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Imports__43999138C02200B8]    Script Date: 10/19/2019 8:50:00 PM ******/
ALTER TABLE [dbo].[Imports] ADD  CONSTRAINT [UQ__Imports__43999138C02200B8] UNIQUE NONCLUSTERED 
(
	[ImportCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Imports_ImportCode]    Script Date: 10/19/2019 8:50:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Imports_ImportCode] ON [dbo].[Imports]
(
	[ImportCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__999B5229D6034ED3]    Script Date: 10/19/2019 8:50:00 PM ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [UQ__Orders__999B5229D6034ED3] UNIQUE NONCLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_OrderCode]    Script Date: 10/19/2019 8:50:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderCode] ON [dbo].[Orders]
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_ProductName]    Script Date: 10/19/2019 8:50:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProductName] ON [dbo].[Products]
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__7F0ABCA9AD400CC0]    Script Date: 10/19/2019 8:50:00 PM ******/
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [UQ__Voucher__7F0ABCA9AD400CC0] UNIQUE NONCLUSTERED 
(
	[VoucherCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountLoginProvider] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__LoginT__3B75D760]  DEFAULT ('Local') FOR [LoginType]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__RoleID__3C69FB99]  DEFAULT ((3)) FOR [RoleID]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__IsActi__3D5E1FD2]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF__Accounts__Create__3E52440B]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccountTokens] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Brands] ADD  CONSTRAINT [DF__Brands__IsActive__59FA5E80]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF__Categorie__IsAct__571DF1D5]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF__Customers__Creat__4D94879B]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF__Employees__Creat__534D60F1]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FavoriteProducts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ImportDetails] ADD  CONSTRAINT [DF__ImportDet__Quant__6FE99F9F]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Imports] ADD  CONSTRAINT [DF__Imports__ImportD__70DDC3D8]  DEFAULT (sysutcdatetime()) FOR [ImportDate]
GO
ALTER TABLE [dbo].[Imports] ADD  CONSTRAINT [DF__Imports__TotalAm__71D1E811]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  CONSTRAINT [DF__OrderDeta__Quant__72C60C4A]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__OrderDat__73BA3083]  DEFAULT (sysutcdatetime()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__TotalAmo__74AE54BC]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Status__75A278F5]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ProductImages] ADD  CONSTRAINT [DF__ProductIm__SortO__6477ECF3]  DEFAULT ((0)) FOR [ImageMain]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  CONSTRAINT [DF__ProductRe__Creat__787EE5A0]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  CONSTRAINT [DF__ProductRe__IsAct__797309D9]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__Price__5CD6CB2B]  DEFAULT ((0)) FOR [SellPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__StockQ__5DCAEF64]  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__IsActi__5EBF139D]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__Create__5FB337D6]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [DF__Voucher__IsActiv__7E37BEF6]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AccountLoginProvider]  WITH CHECK ADD  CONSTRAINT [FK_Provider_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[AccountLoginProvider] CHECK CONSTRAINT [FK_Provider_Account]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Roles]
GO
ALTER TABLE [dbo].[AccountTokens]  WITH CHECK ADD  CONSTRAINT [FK_Tokens_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[AccountTokens] CHECK CONSTRAINT [FK_Tokens_Account]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Account] FOREIGN KEY([CartID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Account]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Product]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Account]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Account]
GO
ALTER TABLE [dbo].[FavoriteProducts]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[FavoriteProducts] CHECK CONSTRAINT [FK_Favorite_Account]
GO
ALTER TABLE [dbo].[FavoriteProducts]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[FavoriteProducts] CHECK CONSTRAINT [FK_Favorite_Product]
GO
ALTER TABLE [dbo].[ImportDetails]  WITH CHECK ADD  CONSTRAINT [FK_ImportDetails_Imports] FOREIGN KEY([ImportID])
REFERENCES [dbo].[Imports] ([ImportID])
GO
ALTER TABLE [dbo].[ImportDetails] CHECK CONSTRAINT [FK_ImportDetails_Imports]
GO
ALTER TABLE [dbo].[ImportDetails]  WITH CHECK ADD  CONSTRAINT [FK_ImportDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ImportDetails] CHECK CONSTRAINT [FK_ImportDetails_Products]
GO
ALTER TABLE [dbo].[Imports]  WITH CHECK ADD  CONSTRAINT [FK_Import_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Imports] CHECK CONSTRAINT [FK_Import_Supplier]
GO
ALTER TABLE [dbo].[Imports]  WITH CHECK ADD  CONSTRAINT [FK_Imports_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Imports] CHECK CONSTRAINT [FK_Imports_Employees]
GO
ALTER TABLE [dbo].[Imports]  WITH CHECK ADD  CONSTRAINT [FK_Imports_Supplier] FOREIGN KEY([ImportID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Imports] CHECK CONSTRAINT [FK_Imports_Supplier]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Customer]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_Reviews_Accounts]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Supplier]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [CK__ProductRe__Ratin__160F4887] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [CK__ProductRe__Ratin__160F4887]
GO
USE [master]
GO
